In [23]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import gls

pd.set_option('display.notebook_repr_html', False)
%matplotlib inline

### One Way ANOVA

In [24]:
df = pd.melt(pd.DataFrame({'Machine1':[47,53,49,50,46],
                           'Machine2':[55,54,58,61,52],
                           'Machine3':[54,50,51,51,49]}))
df

    variable  value
0   Machine1     47
1   Machine1     53
2   Machine1     49
3   Machine1     50
4   Machine1     46
5   Machine2     55
6   Machine2     54
7   Machine2     58
8   Machine2     61
9   Machine2     52
10  Machine3     54
11  Machine3     50
12  Machine3     51
13  Machine3     51
14  Machine3     49

In [34]:
df_lm=gls('value ~ variable', data=df).fit()

In [35]:
sm.stats.anova_lm(df_lm, typ=1)

          df  sum_sq    mean_sq         F    PR(>F)
variable   2     130  65.000000  8.297872  0.005461
Residual  12      94   7.833333       NaN       NaN

### Two Way ANOVA

In [27]:
df2 = pd.melt(pd.DataFrame({'Machine1':[53,47,46,50,49],
                           'Machine2':[61,55,52,58,54],
                           'Machine3':[51,51,49,54,50],
                           'Operator':['A','B','C','D','E']}),
              id_vars=['Operator'],
              value_vars=['Machine1', 'Machine2', 'Machine3'])
df2

   Operator  variable  value
0         A  Machine1     53
1         B  Machine1     47
2         C  Machine1     46
3         D  Machine1     50
4         E  Machine1     49
5         A  Machine2     61
6         B  Machine2     55
7         C  Machine2     52
8         D  Machine2     58
9         E  Machine2     54
10        A  Machine3     51
11        B  Machine3     51
12        C  Machine3     49
13        D  Machine3     54
14        E  Machine3     50

In [28]:
df2_lm=gls('value ~ variable + Operator', data=df2).fit()

In [29]:
sm.stats.anova_lm(df2_lm, typ=2)

          sum_sq  df          F    PR(>F)
variable     130   2  23.636364  0.000439
Operator      72   4   6.545455  0.012193
Residual      22   8        NaN       NaN