In [3]:
import matplotlib as plt
import numpy as np
import pandas as pd

In [18]:
pd.set_option('display.notebook_repr_html', False)

In [4]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'f']})
df2 = pd.DataFrame({'A': [2,3], 'B': ['b', 'g']})

In [5]:
print(df1)
print(df2)

   A  B
0  1  a
1  2  b
2  3  f
   A  B
0  2  b
1  3  g

#### Which occurences does df.A have in common with df2.A?

In [6]:
df1.A.isin(df2.A)

0    False
1     True
2     True
Name: A, dtype: bool

#### Which occurences does df.A NOT have in common with df2.A?

In [15]:
-df1.A.isin(df2.A)

0     True
1    False
2    False
Name: A, dtype: bool

In [13]:
subset = df1[-df1.A.isin(df2.A)]
print(subset)

   A  B
0  1  a

In [64]:
s = pd.DataFrame(np.random.randn(6).reshape([3,2]), columns=list('ab'))

In [65]:
s

          a         b
0 -0.233656  0.546465
1 -0.925817  0.536749
2  0.884865 -1.120526

In [57]:
s['rank']=s.b.rank()

In [66]:
s

          a         b
0 -0.233656  0.546465
1 -0.925817  0.536749
2  0.884865 -1.120526

In [68]:
s.rank(axis=0)

   a  b
0  2  3
1  1  2
2  3  1

In [69]:
s.rank(axis=1)

   a  b
0  1  2
1  1  2
2  2  1