In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.notebook_repr_html', False)

In [3]:
df1 = pd.DataFrame({'item': ['a', 'b', 'c', 'd', 'e'],
                    'iclass': ['A3', 'A3', 'B4', 8, 1],
                    'price': [8, 12, 21, 44, 27]},
                    index=('aa','bb','cc','dd','ee'))
df2 = pd.DataFrame({'iclass': ['A3', 'B4', 8, 'D6'], 'grp': ['WIP', 'RM', 'FG', 'None']})

In [82]:
print(df1)
print(df2)

   iclass item  price
aa     A3    a      8
bb     A3    b     12
cc     B4    c     21
dd      8    d     44
ee      1    e     27
    grp iclass
0   WIP     A3
1    RM     B4
2    FG      8
3  None     D6

##### Index & columns names

In [83]:
df1.index.name = 'entry'
df1.columns.name = 'Master data'
df1

Master data iclass item  price
entry
aa              A3    a      8
bb              A3    b     12
cc              B4    c     21
dd               8    d     44
ee               1    e     27

In [84]:
print(df1.index.values)
print(df1.columns.values)

['aa' 'bb' 'cc' 'dd' 'ee']
['iclass' 'item' 'price']

In [19]:
df2.reindex([0, 1, 2, 3, 4, 5])

    grp iclass
0   WIP     A3
1    RM     B4
2    FG      8
3  None     D6
4   NaN    NaN
5   NaN    NaN

In [87]:
df1.reindex(columns=['iclass', 'item', 'price', 'foo'], fill_value='unknown')

      iclass item  price      foo
entry
aa        A3    a      8  unknown
bb        A3    b     12  unknown
cc        B4    c     21  unknown
dd         8    d     44  unknown
ee         1    e     27  unknown

##### Display DataFrame

In [88]:
# print
df1

Master data iclass item  price
entry
aa              A3    a      8
bb              A3    b     12
cc              B4    c     21
dd               8    d     44
ee               1    e     27

In [89]:
# 2D ndarray
df1.values

array([['A3', 'a', 8L],
       ['A3', 'b', 12L],
       ['B4', 'c', 21L],
       [8, 'd', 44L],
       [1, 'e', 27L]], dtype=object)

##### Display column values

In [90]:
df1['iclass']

entry
aa       A3
bb       A3
cc       B4
dd        8
ee        1
Name: iclass, dtype: object

In [106]:
df1[['iclass', 'price']]

Master data iclass  price
entry
aa              A3      8
bb              A3     12
cc              B4     21
dd               8     44
ee               1     27

##### Indexing

In [91]:
df1

Master data iclass item  price
entry
aa              A3    a      8
bb              A3    b     12
cc              B4    c     21
dd               8    d     44
ee               1    e     27

##### Label based indexing

In [98]:
df1.loc['aa':'cc']

Master data iclass item  price
entry
aa              A3    a      8
bb              A3    b     12
cc              B4    c     21

In [99]:
df1.loc['cc':'ee', 'item']

entry
cc       c
dd       d
ee       e
Name: item, dtype: object

In [100]:
#cross section
df1.loc['cc']  
#equal to df1.xs('cc')

Master data
iclass         B4
item            c
price          21
Name: cc, dtype: object

In [101]:
df1.loc[df1.price.idxmax()]
#equal to df1.xs(df1.price.idxmax())

Master data
iclass          8
item            d
price          44
Name: dd, dtype: object

##### Integer position based indexing

In [46]:
df2

    grp iclass
0   WIP     A3
1    RM     B4
2    FG      8
3  None     D6

In [55]:
df2.iloc[1:3]

  grp iclass
1  RM     B4
2  FG      8

In [60]:
df2.iloc[1:3, 0]

1    RM
2    FG
Name: grp, dtype: object

In [61]:
df2.iloc[1:3, [0,1]]

  grp iclass
1  RM     B4
2  FG      8

In [66]:
#cross section
df2.iloc[2]
#equal to df2.xs(2)

grp       FG
iclass     8
Name: 2, dtype: object

##### Indexing by label and/or integer position

In [4]:
df1

   iclass item  price
aa     A3    a      8
bb     A3    b     12
cc     B4    c     21
dd      8    d     44
ee      1    e     27

In [32]:
df1.ix[:2, 'iclass']

entry
aa       A3
bb       A3
Name: iclass, dtype: object

In [33]:
df1.ix[3]

Master data
iclass         8
item           d
Name: dd, dtype: object

In [34]:
df1.ix[3,'iclass']

8

In [35]:
df1.ix[df1.iclass == 'A3']['item']

entry
aa       a
bb       b
Name: item, dtype: object

In [36]:
df1[:2]

Master data iclass item
entry
aa              A3    a
bb              A3    b

In [38]:
df1.get_value('cc', 'iclass')

'B4'

##### Arithmetic

In [5]:
df3=pd.DataFrame(np.arange(12.).reshape((3,4)), columns=list('abcd'))

In [6]:
df4=pd.DataFrame(np.arange(20.).reshape((4,5)), columns=list('abcde'))

In [73]:
df3

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [74]:
df4

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [75]:
df3.add(df4, fill_value=0)

    a   b   c   d   e
0   0   2   4   6   4
1   9  11  13  15   9
2  18  20  22  24  14
3  15  16  17  18  19

In [76]:
df3.add(df4, fill_value=10)

    a   b   c   d   e
0   0   2   4   6  14
1   9  11  13  15  19
2  18  20  22  24  24
3  25  26  27  28  29

In [77]:
df4.div(10)

     a    b    c    d    e
0  0.0  0.1  0.2  0.3  0.4
1  0.5  0.6  0.7  0.8  0.9
2  1.0  1.1  1.2  1.3  1.4
3  1.5  1.6  1.7  1.8  1.9

##### Delete labels on axes

In [19]:
df4.drop([2])

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
3  15  16  17  18  19

In [10]:
df4.drop('a', axis=1)

    b   c   d   e
0   1   2   3   4
1   6   7   8   9
2  11  12  13  14
3  16  17  18  19