In [2]:
# %load ../standard_import.txt
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_seq_items', None)
 
#%config InlineBackend.figure_formats = {'pdf',}
%matplotlib inline

import seaborn as sns
sns.set_context('notebook')
sns.set_style('darkgrid')

### where( )
- Boolean indexing but retaining original shape of data (for Series).
- Replacement options

In [12]:
s = pd.Series([0,1,2,3,4,5])

dates = pd.date_range('2015-1-1', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df.iloc[3] = np.NaN
df

                   A         B         C         D
2015-01-01  0.657919 -0.212726  0.842869 -1.366206
2015-01-02  0.483159 -0.283143 -0.723116 -0.694739
2015-01-03 -1.328146 -1.923179 -0.578999 -0.902172
2015-01-04       NaN       NaN       NaN       NaN
2015-01-05 -0.233025 -0.379335  1.163860  0.852996
2015-01-06  0.087206  0.692262 -0.264934 -0.861378
2015-01-07  0.677980  2.010400 -0.906443 -0.301450
2015-01-08  1.017174  0.106838  0.855558 -0.666773

In [37]:
df[df>0]

                   A         B         C         D
2015-01-01  0.657919       NaN  0.842869       NaN
2015-01-02  0.483159       NaN       NaN       NaN
2015-01-03       NaN       NaN       NaN       NaN
2015-01-04       NaN       NaN       NaN       NaN
2015-01-05       NaN       NaN  1.163860  0.852996
2015-01-06  0.087206  0.692262       NaN       NaN
2015-01-07  0.677980  2.010400       NaN       NaN
2015-01-08  1.017174  0.106838  0.855558       NaN

#### Same as ...

In [38]:
df.where(df>0)

                   A         B         C         D
2015-01-01  0.657919       NaN  0.842869       NaN
2015-01-02  0.483159       NaN       NaN       NaN
2015-01-03       NaN       NaN       NaN       NaN
2015-01-04       NaN       NaN       NaN       NaN
2015-01-05       NaN       NaN  1.163860  0.852996
2015-01-06  0.087206  0.692262       NaN       NaN
2015-01-07  0.677980  2.010400       NaN       NaN
2015-01-08  1.017174  0.106838  0.855558       NaN

#### But for Series there is a difference

In [36]:
s[s<4]

0    0
1    1
2    2
3    3
dtype: int64

In [39]:
s.where(s<4)

0     0
1     1
2     2
3     3
4   NaN
5   NaN
dtype: float64

In [48]:
df2 = df.copy()
df2

                   A         B         C         D
2015-01-01  0.657919 -0.212726  0.842869 -1.366206
2015-01-02  0.483159 -0.283143 -0.723116 -0.694739
2015-01-03 -1.328146 -1.923179 -0.578999 -0.902172
2015-01-04       NaN       NaN       NaN       NaN
2015-01-05 -0.233025 -0.379335  1.163860  0.852996
2015-01-06  0.087206  0.692262 -0.264934 -0.861378
2015-01-07  0.677980  2.010400 -0.906443 -0.301450
2015-01-08  1.017174  0.106838  0.855558 -0.666773

In [47]:
df2 < 0

                A      B      C      D
2015-01-01  False   True  False   True
2015-01-02  False   True   True   True
2015-01-03   True   True   True   True
2015-01-04  False  False  False  False
2015-01-05   True   True  False  False
2015-01-06  False  False   True   True
2015-01-07  False  False   True   True
2015-01-08  False  False  False   True

In [45]:
df2.where(df2>0,df2.iloc[0],axis=1)

                   A         B         C         D
2015-01-01  0.657919 -0.212726  0.842869 -1.366206
2015-01-02  0.483159 -0.212726  0.842869 -1.366206
2015-01-03  0.657919 -0.212726  0.842869 -1.366206
2015-01-04  0.657919 -0.212726  0.842869 -1.366206
2015-01-05  0.657919 -0.212726  1.163860  0.852996
2015-01-06  0.087206  0.692262  0.842869 -1.366206
2015-01-07  0.677980  2.010400  0.842869 -1.366206
2015-01-08  1.017174  0.106838  0.855558 -1.366206